# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Generated outputs
exports/*
reports/generated/*
models/*
data/raw/*
data/processed/*
